
.Homepage{

    /*Homepage section heading*/
    /*.homeHeading{
        margin-left: 30px;
    }*/
    /*Explore Places*/
    .explore{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .explore-places{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
    
            .explore-card{
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                height:90px;
                width:250px;
                align-items: center;

                div .explore-image{
                    height:70px;
                    width:70px;
                    border-radius: 10px;

                }
                .explore-text{
                    width: 140px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    padding-left: 20px;

                    .explore-city{
                        font-weight: 700;
                    }
                }
            }
        }
    }

    /*Live Anywhere*/
    .live{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .live-opt{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            
            .live-card{
                height: 280px;
                width: 280px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                .liveImage{
                    height: 250px;
                    width: 270px;
                    border-radius: 10px;
                }
                .live-text{
                    font-weight: 700;
                }
            }
        }
    }

}